/* THE MOBILE FIRST SOLUTION */
/* Under the 700px */

/*************************/
/* Global Styles */
/*************************/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 0.9375rem;
  font-family: "Poppins", sans-serif;

  /* To center the content */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

/*************************/
/* Component Styles */
/*************************/

.section-four-card {
  max-width: 23.4375rem;
  padding: 5.3125rem 2rem 4.875rem;
  background: #fafafa;

  /* The Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.75rem;
}

/* The Content Area */
.section-four-card__content-area {
  max-width: 19.4375rem;
}

.section-four-card__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 275;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.0104rem;
  color: #4d4f62;

  padding: 0 0.4375rem;
  margin-bottom: 0.0625rem;
}

.section-four-card__strong {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
  letter-spacing: 0.0104rem;
  color: #4d4f62;

  display: inline-block;
  padding: 0 0.5rem;
  margin-bottom: 0.8125rem;
}

.section-four-card__description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  text-align: center;
  letter-spacing: 0.0065rem;
  color: #4d4f62;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* The Card Area */

.card-area {
  /* The CSS Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5625rem;
}

.card-item {
  padding: 1.4656rem 1.75rem 1.75rem 1.75rem;

  /* The Flexbox */
  display: flex;
  flex-direction: column;

  /* The box-shadow */
  background: #ffffff;
  box-shadow: 0 0.9375rem 1.875rem -0.6875rem rgba(131, 166, 210, 0.5);
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-item__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #4d4f62;

  margin-bottom: 0.0625rem;
}

.card-item__description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.4375rem;
  letter-spacing: 0.0056rem;
  color: #4d4f62;
  mix-blend-mode: normal;
  opacity: 0.5;

  margin-left: 0.0625rem;
  margin-bottom: 2.0625rem;
}

.card-item__icon {
  width: 3.5625rem;
  height: 3.5625rem;

  /* The Flexbox */
  align-self: flex-end;
}

/* To change the color of the line */

.card-item::before {
  content: "";
  width: calc(1.75rem + 100% + 1.75rem);
  height: 0.2219rem;
  transform: translateX(-1.75rem) translateY(calc(-1.6875rem + 0.2219rem));
}

.card-item--green::before {
  background-color: #44d3d2;
}

.card-item--red::before {
  background-color: #ea5454;
}

.card-item--yellow::before {
  background-color: #fcae4a;
}

.card-item--blue::before {
  background-color: #549ef2;
}

/* For screen readers */
.sr-only {
  position: absolute;
  top: auto;
  height: 0.0625rem;
  width: 0.0625rem;
  overflow: hidden;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  white-space: nowrap;
}
